#root{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
}
@media screen and (min-width: 900px) {
    *{
        font-size: 16px;
    }
}
@media screen and (min-width: 1200px) {
    *{
        font-size: 18px;
    }
}
@media screen and (min-width: 1500px) {
    *{
        font-size: 20px;
    }
}
@media screen and (min-width: 1700px) {
    *{
        font-size: 22px;
    }
}